.span12
  .module-header.workshops-header
    %h4 Workshops
/ end span12
%ul.event-items
  %li.event-item.clearfix.span4
    .event-date
      %time{:datetime => "2014-09-23"} Tuseday Sep. 23
    / end event-date
    .share-widget
      %a{:href => "#"}
        %i.iconf-facebook
      %a{:href => "#"}
        %i.iconf-twitter
      / end share-widget
    %br.clearfix/
    .event-entry.text-center
      %h3.entry-title Education Seminar
      %p.lead Speaker: James Joe
      .event-image
        %img.img-circle{:alt => "Education Seminar", :src => "/assets/6269713/photos/780x780-02.jpg"}/
      .entry-content
        %h4
          %time{:datetime => "09:00"} 9:30 AM - 1:00 PM
        %h4 Downtown Conference Center
        %p Nullam nibh leo, tempus quis lobortis nec, imperdiet in nibh. Nulla nec tortor non nulla sodales mattis eu at purus. Nam posuere gravida turpis nec congue.
      / end event-entry
    / end span4
  / end event-item
  %li.event-item.clearfix.span4
    .event-date
      %time{:datetime => "2014-09-24"} Wednesday Sep. 24
    / end event-date
    .share-widget
      %a{:href => "#"}
        %i.iconf-facebook
      %a{:href => "#"}
        %i.iconf-twitter
      / end share-widget
    %br.clearfix/
    .event-entry.text-center
      %h3.entry-title HTML5 & CSS3
      %p.lead Speaker: James Joe
      .event-image
        %img.img-circle{:alt => "HTML5 & CSS3", :src => "/assets/6269713/photos/780x780-04.jpg"}/
      .entry-content
        %h4
          %time{:datetime => "14:00"} 2:00 - 4:30 PM
        %h4 Downtown Conference Center
        %p Nullam nibh leo, tempus quis lobortis nec, imperdiet in nibh. Nulla nec tortor non nulla sodales mattis eu at purus. Nam posuere gravida turpis nec congue.
      / end event-entry
    / end span4
  / end event-item
  %li.event-item.clearfix.span4
    .event-date
      %time{:datetime => "2014-09-25"} Tursday Sep. 25
    / end event-date
    .share-widget
      %a{:href => "#"}
        %i.iconf-facebook
      %a{:href => "#"}
        %i.iconf-twitter
      / end share-widget
    %br.clearfix/
    .event-entry.text-center
      %h3.entry-title jQuery Master Class
      %p.lead Speaker: James Joe
      .event-image
        %img.img-circle{:alt => "jQuery Master Class", :src => "/assets/6269713/photos/780x780-03.jpg"}/
      .entry-content
        %h4
          %time{:datetime => "12:30"} 12:30 - 2:00 PM
        %h4 Downtown Conference Center
        %p Nullam nibh leo, tempus quis lobortis nec, imperdiet in nibh. Nulla nec tortor non nulla sodales mattis eu at purus. Nam posuere gravida turpis nec congue.
