%p= t('sections.tickets.will_be_soon')

%iframe{style: 'vertical-align: top; border:none; overflow:hidden; width:520px; height:140px;',
          src: '//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FMiksturaIT&amp;width=500&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=100&amp;appId=181473915275783"',
    scrolling: 'no', frameborder: 0, allowTransparency: 'true' }

%p &nbsp;
