=# render partial: 'contact_us/contact_form'
.span12.text-center
  .module-header.contact-header
    %h4= t('section.contact')
.span12.text-center
  %p= t('contact_us.hint')
.span4.text-center.text-middle
  %p
    %i.iconf-mobile
    +48 661 120 232
.span4.text-center
  .social
    %a.icon-wrap.small.facebook{:href => "https://www.facebook.com/MiksturaIT", :target => "_blank", :title => "Facebook"}
      %i.iconf-facebook
    %a.icon-wrap.small.twitter{:href => "https://twitter.com/miksturait", :target => "_blank", :title => "Twitter"}
      %i.iconf-twitter
    %a.icon-wrap.small.google{:href => "https://google.com/+MiksturaIt_Foundation", :target => "_blank", :title => "Google+"}
      %i.iconf-gplus
    %a.icon-wrap.small.youtube{:href => "https://www.youtube.com/user/MiksturaIT", :target => "_blank", :title => "YouTube"}
      %i.iconf-youtube
    %a.icon-wrap.small.linkedin{:href => "http://www.linkedin.com/company/mikstura-it-foundation", :target => "_blank", :title => "Linkedin"}
      %i.iconf-linkedin
.span4.text-center.text-middle
  %p
    %i.iconf-mail
    Email:
    %a{:href => "fundacja@mikstura.it"} fundacja@mikstura.it


