.span12
  .module-header.schedule-header
    %h4= t('section.schedule')
.span12
  %ul#schedule-tabs.nav.nav-pills.tab-fillspace
    - (all_days = %i(dayone daytwo daythree)).each do |day|
      %li{ class: day_is_active(day)}
        %a{"data-toggle" => "tab", :href => "##{day}"}
          = t(:header, scope: [:schedule, day])
.tab-content
  - all_days.each do |day|
    = render partial: 'schedule/day', locals: { day: day, active: day_is_active(day) }

