%p
  Our site uses cookies with the primary purpose to make it work more effectively. By continuing to browse through the site you agree to our use of cookies, which is described below.
  Cookies are used to improve the services we deliver through, for example, enabling a service to recognize your device so that you do not have to give the same information several times while performing one task or audience measurement.
%p
  We use Google Analytics to understand how many people come to visit the site and what is particularly popular within the service for those who choose to visit our site. We collect information on which sections of the service they visit, how often, how long they take to visit them and how they interact with the service, e.g. how they move through the service.
  The information thus gathered is used to improve the website.
%p
  No personally identifiable information (PII) is stored and the site usage is always analysed at an aggregate and anonymous level.