%section#news
  .container
    .row
      .span12
        .module-header.news-header
          %h4 News
        /
      / end span12
      %ul.news-items.hfeed
        %li.news-item.clearfix.span4
          .news-date
            %span.month May
            %span.day 16
          / end news-date
          .share-widget
            %a{:href => "#"}
              %i.iconf-facebook
            %a{:href => "#"}
              %i.iconf-twitter
            / end share-widget
          %br.clearfix/
          .news-entry
            %h3.entry-title 2014 Conference Will Be Held in September
            .entry-image
              %img{:alt => "News Image", :src => "/assets/6269713/photos/780x475-01.jpg"}/
            .entry-content
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales tincidunt sodales. Nam tellus velit, hendrerit ac venenatis adipiscing, sollicitudin vitae orci. Vestibulum mollis pharetra metus sit amet convallis.
              %a{:href => "#"}
                Read full story
                %i.iconf-angle-right
            / end news-entry
          / end span4
        / end news-item
        %li.news-item.clearfix.span4
          .news-date
            %span.month April
            %span.day 25
          / end news-date
          .share-widget
            %a{:href => "#"}
              %i.iconf-facebook
            %a{:href => "#"}
              %i.iconf-twitter
            / end share-widget
          %br.clearfix/
          .news-entry
            %h3.entry-title Conference Location at the Heart of NY
            .entry-image
              %img{:alt => "News Image", :src => "/assets/6269713/photos/780x475-02.jpg"}/
            .entry-content
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales tincidunt sodales. Nam tellus velit, hendrerit ac venenatis adipiscing, sollicitudin vitae orci. Vestibulum mollis pharetra metus sit amet convallis.
              %a{:href => "#"}
                Read full story
                %i.iconf-angle-right
            / end news-entry
          / end span4
        / end news-item
        %li.news-item.clearfix.span4
          .news-date
            %span.month February
            %span.day 17
          / end news-date
          .share-widget
            %a{:href => "#"}
              %i.iconf-facebook
            %a{:href => "#"}
              %i.iconf-twitter
            / end share-widget
          %br.clearfix/
          .news-entry
            %h3.entry-title Things You Can See While You Are Here
            .entry-image
              %img{:alt => "News Image", :src => "/assets/6269713/photos/780x475-03.jpg"}/
            .entry-content
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales tincidunt sodales. Nam tellus velit, hendrerit ac venenatis adipiscing, sollicitudin vitae orci. Vestibulum mollis pharetra metus sit amet convallis.
              %a{:href => "#"}
                Read full story
                %i.iconf-angle-right
            / end news-entry
          / end span4
        / end news-item
    / end row
  / end container
/ end news