.span12
  .module-header.about-header
    %h4= t('footer.policy')
.span12
  %p.text-center
    Niniejsza Polityka Prywatności określa zasady przechowywania i dostępu do informacji na urządzeniach Użytkownika za pomocą plików Cookies, służących realizacji usług świadczonych drogą elektroniczną żądanych przez Użytkownika,
    przez Fundację na rzecz wspierania innowacyjności i rozwoju kapitału ludzkiego Mikstura.IT  z siedzibą w Bielsku-Białej.

  %h3.text-center
    § 1
    %br
    Definicje
  %ol
    %li Administrator - oznacza Fundację na rzecz wspierania innowacyjności i rozwoju kapitału ludzkiego Mikstura.IT z siedzibą w Bielsku-Białej (43-300), ul. Kamińskiego 19, wpisana do rejestru przedsiębiorców Krajowego Rejestru Sądowego prowadzonego przez Sąd Rejonowy w Bielsku-Białej, VIII Wydział Gospodarczy pod numerem KRS 0000477246, NIP: 5472147948, Regon: 243391067, który świadczony usługi drogą elektroniczną oraz przechowuje i uzyskuje dostęp do informacji w urządzeniach Użytkownika.
    %li Cookies - oznacza dane informatyczne, w szczególności niewielkie pliki tekstowe, zapisywane i przechowywane na urządzeniach za pośrednictwem których Użytkownik korzysta ze stron internetowych Serwisu.
    %li Cookies Administratora - oznacza Cookies zamieszczane przez Administratora, związane ze świadczeniem usług drogą elektroniczną przez Administratora za pośrednictwem Serwisu.
    %li Cookies Zewnętrzne - oznacza Cookies zamieszczane przez partnerów Administratora, za pośrednictwem strony internetowej Serwisu.
    %li Serwis - oznacza stronę internetową lub aplikację, pod którą Administrator prowadzi serwis internetowy, działającą w domenie mikstura.it.
    %li Urządzenie - oznacza elektroniczne urządzenie za pośrednictwem, którego Użytkownik uzyskuje dostęp do Serwisu.
    %li Użytkownik - oznacza podmiot, na rzecz którego zgodnie z Regulaminem i przepisami prawa mogą być świadczone usługi drogą elektroniczną lub z którym zawarta może być Umowa o świadczenie usług drogą elektroniczną.
  %h3.text-center
    § 2
    %br
    Rodzaje wykorzystywanych Cookies
  %ol
    %li Stosowane przez Administratora Cookies są bezpieczne dla Urządzenia Użytkownika. W szczególności tą drogą nie jest możliwe przedostanie się do Urządzeń Użytkowników wirusów lub innego niechcianego oprogramowania lub oprogramowania złośliwego. Pliki te pozwalają zidentyfikować oprogramowanie wykorzystywane przez Użytkownika i dostosować Serwis indywidualnie do każdego Użytkownika. Cookies zazwyczaj zawierają nazwę domeny z której pochodzą, czas przechowywania ich na Urządzeniu oraz przypisaną wartość.
    %li
      Administrator wykorzystuje dwa typy plików cookies:
      %ol
        %li Cookies sesyjne: są przechowywane na Urządzeniu Użytkownika i pozostają tam do momentu zakończenia sesji danej przeglądarki. Zapisane informacje są wówczas trwale usuwane z pamięci Urządzenia. Mechanizm cookies sesyjnych nie pozwala na pobieranie jakichkolwiek danych osobowych ani żadnych informacji poufnych z Urządzenia Użytkownika.
        %li Cookies trwałe: są przechowywane na Urządzeniu Użytkownika i pozostają tam do momentu ich skasowania.Zakończenie sesji danej przeglądarki lub wyłączenie Urządzenia nie powoduje ich usunięcia z Urządzenia Użytkownika. Mechanizm cookies trwałych nie pozwala na pobieranie jakichkolwiek danych osobowych ani żadnych informacji poufnych z Urządzenia Użytkownika.
    %li Użytkownik ma możliwość ograniczenia lub wyłączenia dostępu plików cookies do swojego Urządzenia. W przypadku skorzystania z tej opcji korzystanie ze Serwisu będzie możliwe, poza funkcjami, które ze swojej natury wymagają plików cookies.
  %h3.text-center
    § 3
    %br
    Cele w jakich wykorzystywane są Cookies
  %ol
    %li
      Administrator wykorzystuje Cookies Własne w następujących celach:
      %ol
        %li
          Konfiguracji serwisu
          %ul
            %li dostosowania zawartości stron internetowych Serwisu do preferencji Użytkownika oraz optymalizacji korzystania ze stron internetowych Serwisu.
            %li rozpoznania urządzenia Użytkownika Serwisu oraz jego lokalizację i odpowiednio wyświetlenia strony internetowej, dostosowanej do jego indywidualnych potrzeb;
            %li zapamiętania ustawień wybranych przez Użytkownika i personalizacji interfejsu Użytkownika, np. w zakresie wybranego języka lub regionu, z którego pochodzi Użytkownik,
            %li zapamiętania historii odwiedzonych stron w serwisie w celu rekomendacji treści, rozmiaru czcionki, wyglądu strony internetowej itp.
        %li
          Uwierzyteniania użytkownika w serwisie i zapewnienia sesji użytkownika w serwisie
          %ul
            %li utrzymania sesji Użytkownika Serwisu (po zalogowaniu), dzięki której Użytkownik nie musi na każdej podstronie Serwisu ponownie wpisywać loginu i hasła;
            %li poprawnej konfiguracji wybranych funkcji Serwisu, umożliwiając w szczególności weryfikację autentyczności sesji przeglądarki.
            %li optymalizacji i zwiększenia wydajności usług świadczonych przez Administratora.
        %li
          Realizacji procesów niezbędnych dla pełnej funkcjonalności stron internetowych
          %ul
            %li dostosowania zawartości stron internetowych Serwisu do preferencji Użytkownika oraz optymalizacji korzystania ze stron internetowych Serwisu. W szczególności pliki te pozwalają rozpoznać podstawowe parametry Urządzenia Użytkownika i odpowiednio wyświetlić stronę internetową, dostosowaną do jego indywidualnych potrzeb;
            %li poprawnej obsługi programu partnerskiego, umożliwiając w szczególności weryfikację źródeł przekierowań Użytkowników na strony internetowe Serwisu.
        %li
          Zapamiętania lokalizacji użytkownika
          %ul
            %li poprawnej konfiguracji wybranych funkcji Serwisu, umożliwiając w szczególności dostosowanie dostarczanych informacji do Użytkownika z uwzględnieniem jego lokalizacji.
        %li
          Analiz i badań oraz audytu oglądalności
          %ul
            %li tworzenia anonimowych statystyk, które pomagają zrozumieć, w jaki sposób Użytkownicy Serwisu korzystają ze stron internetowych Serwisu, co umożliwia ulepszanie ich struktury i zawartości;
        %li Zapewnienia bezpieczeństwa i niezawodności serwisu
      Serwis zawiera odnośniki (linki) do innych stron. Zastrzegamy, że nie ponosimy odpowiedzialności za treści, produkty lub usługi oferowane na stronach i serwisach internetowych firm trzecich. Niniejsza polityka prywatności nie ma zastosowania do żadnych danych osobowych, które udostępniasz lub które są zbierane przez strony internetowe zarządzane przez firmy trzecie.
    %li
      Administrator usługi wykorzystuje Cookies Zewnętrzne w następujących celach:
      %ol
        %li
          prezentowania treści multimedialnych na stronach internetowych Serwisu, które są pobierane z zewnętrznego serwisu internetowego:
          www.youtube.com [administrator cookies: Google Inc z siedzibą w USA]
        %li
          zbierania ogólnych i anonimowych danych statycznych za pośrednictwem narzędzi analitycznych:
          Google Analytics [administrator cookies: Google Inc z siedzibą w USA]
        %li
          rejestrację uczestników na konferencje/spotkania
          Eventbrite [administrator cookies: Eventbrite  z siedzibą w USA]
          Confeture [administrator cookies: Confeture]
        %li
          wykorzystania funkcji interaktywnych w celu popularyzacji serwisu za pomocą serwisów społecznościowych:
          twitter.com [administrator cookies: Twitter Inc. z siedzibą w USA]
          plus.google.com [administrator cookies: Google Inc z siedzibą w USA]
          Facebook.com [administrator cookies: Facebook Inc z siedzibą w USA lub Facebook Ireland z siedzibą w Irlandii]
          LinkedIn.com [administrator cookies: LinkedIn Ireland Limited z siedzibą w Irlandii]
  %h3.text-center
    § 4
    %br
    Możliwości określenia warunków przechowywania lub uzyskiwania dostępu przez Cookies

  %ol
    %li Użytkownik może samodzielnie i w każdym czasie zmienić ustawienia dotyczące plików Cookies, określając warunki ich przechowywania i uzyskiwania dostępu przez pliki Cookies do Urządzenia Użytkownika. Zmiany ustawień, o których mowa w zdaniu poprzednim, Użytkownik może dokonać za pomocą ustawień przeglądarki internetowej lub za pomocą konfiguracji usługi. Ustawienia te mogą zostać zmienione w szczególności w taki sposób, aby blokować automatyczną obsługę plików cookies w ustawieniach przeglądarki internetowej bądź informować o ich każdorazowym zamieszczeniu Cookies na urządzeniu Użytkownika. Szczegółowe informacje o możliwości i sposobach obsługi plików cookies dostępne są w ustawieniach oprogramowania (przeglądarki internetowej).
    %li Użytkownik może w każdej chwili usunąć pliki Cookies korzystając z dostępnych funkcji w przeglądarce internetowej, której używa.
    %li Ograniczenie stosowania plików Cookies, może wpłynąć na niektóre funkcjonalności dostępne na stronie internetowej Serwisu.

  %h3.text-center
    § 5
    %br
    Zmiana polityki prywatności

  %p.text-center Zastrzegamy sobie prawo zmiany polityki prywatności poprzez opublikowanie nowej polityki prywatności na tej stronie. Zmiany polityki prywatności obowiązują z chwilą ich umieszczenia na stronie.

  %p.text-center W przypadku jakikolwiek pytań lub wątpliwości odnośnie internetowej polityki prywatności firmy prosimy o kontakt za pośrednictwem poczty elektronicznej na adres: fundacja@mikstura.it.
