.span12
  .module-header.about-header
    %h4= t('footer.to')
.span12
  %h3.text-center
    § 1
  %p
    %ol
      %li
        Niniejszy regulamin (“Regulamin”) określa zasady rejestracji i uczestnictwa w Konferencji „Dni Wolnego Oprogramowania 2014”, która odbędzie się na Akademii Techniczno – Humanistycznej w Bielsku – Białej w dniach 28-30 marca 2014 r. („Konferencja”).
      %li
        Organizatorem Konferencji jest: Fundacja na rzecz wspierania innowacyjności i rozwoju kapitału ludzkiego Mikstura.IT z siedzibą w Bielsku - Białej, adres: 43-300 Bielsko – Biała, ul. Kamińskiego 19, wpisana do Krajowego Rejestru Sądowego pod numerem KRS 0000477246, NIP: 5472147948, REGON: 243391067 (dalej zwana również: „Fundacją Mikstura.IT”) oraz Koło naukowe „RESET” przy Akademii Techniczno – Humanistycznej w Bielsku – Białej, adres: Willowa 2 („Organizator”).
      %li
        Rejestracja na Konferencję odbywa się poprzez wypełnienie formularza on-line  znajdującego się na stronie dwo.mikstura.it („Formularz Rejestracyjny”). Podczas rejestracji należy podać wszystkie dane wymagane w formularzu rejestracyjnym.
      %li
        Uczestnik po poprawnym zgłoszeniu uczestnictwa otrzyma  informację zwrotną na adres e-mail podany w zgłoszeniu. Informacja będzie zawierać potwierdzenie udziału w Konferencji.
      %li
        Warunkiem uczestnictwa w konferencji jest:
        %ol{style: "list-style-type: upper-alpha;"}
          %li
            zgłoszenie uczestnictwa w konferencji;
          %li
            zapoznanie się i akceptacja niniejszego regulaminu;
          %li
            otrzymanie informacji zwrotnej – potwierdzenia rejestracji.
      %li
        Liczba miejsc na Konferencji jest ograniczona. O udziale w konferencji decyduje kolejność zgłoszeń.
      %li
        Udział w Konferencji jest bezpłatny. Koszty uczestnictwa w Konferencji, w tym koszty dojazdu, noclegów i wyżywienia Uczestnicy pokrywają we własnym zakresie.

  %h3.text-center
    § 2
  %p
    %ol
      %li
        Organizator informuje, że dane osobowe Uczestników, podane podczas rejestracji na Konferencję na stronie rejestracyjnej w Formularzu Rejestracyjnym, przetwarzane są poprzez tę stronę przez Organizatora, w celu zawarcia i wykonania umowy uczestnictwa w Konferencji, w tym: przeprowadzenia oraz realizacji Konferencji, calach rejestracyjnych oraz w związku z obsługą techniczną strony rejestracyjnej.
      %li
        Organizator może przetwarzać następujące dane osobowe Uczestnika: (1.) imię  i nazwisko; (2.) adres zamieszkania; (3.) adres poczty elektronicznej; (4.) numer telefonu Uczestnika; (5.) adres do korespondencji (jeżeli jest inny niż adres zamieszkania);
      %li
        Organizator, działając na podstawie art. 24 ust. 1 ustawy o ochronie danych osobowych informuje, że: (1.) Administratorem tak zebranych danych osobowych Uczestnika jest Organizator; (2.) Administrator przetwarza dane osobowe w celu zawarcia i wykonania umowy o uczestnictwo w Konferencji, jak również – o ile Uczestnik wyraził zgodę na przetwarzanie danych osobowych w tym celu – w celach określonych w § 3 poniżej (3.) odbiorcą danych osobowych Uczestnika jest Organizator;  dane nie będą udostępniane odbiorcom danych w rozumieniu art. 7 pkt 6 ustawy o ochronie danych osobowych; (4.) Uczestnik ma prawo dostępu do treści swoich danych przetwarzanych przez Organizatora oraz do ich poprawiania.
      %li
        Podanie danych jest dobrowolne jednak ich niepodanie może uniemożliwić zawarcie i wykonanie umowy i udział w Konferencji.
      %li
        Administrator dba o bezpieczeństwo danych osobowych udostępnionych przez Uczestnika. Dane te są zabezpieczone przed dostępem osób nieupoważnionych.

  %h3.text-center
    § 3
  %p
    %ol
      %li
        Zgłaszając udział w Konferencji Uczestnik może wyrazić zgodę na:
        %ol{style: "list-style-type: upper-alpha;"}
          %li
            otrzymywanie od Organizatora informacji mailowych dotyczących Konferencji, w tym bieżących informacji/komunikatów dotyczących organizacji Konferencji, programu Konferencji, jak również materiałów dotyczących Konferencji (jeżeli zostaną przewidziane przez Organizatora);
          %li
            otrzymywania od Organizatora informacji nt. innych organizowanych przez Fundację Mikstura.IT wydarzeń, w tym informacji handlowych w rozumieniu ustawy z dnia 18 lipca 2002 r. o świadczeniu usług drogą elektroniczną (wysyłane wiadomości mogą zawierać w szczególności informacje i materiały marketingowe) za pomocą środków komunikacji elektronicznej, w szczególności na podany w Formularzu Rejestracyjnym adres poczty elektronicznej.
      %li
        Uczestnik może w każdym czasie odwołać zgodę na otrzymywanie informacji wskazanych w ust. 1 powyżej przesyłając wiadomość na adres e-mail Organizatora wskazany w § 4 ust. 3 Regulaminu.
      %li
        Zgłaszając udział w Konferencji Uczestnik może złożyć oświadczenie dotyczące   nieodpłatnego używania i rozpowszechniania jego wizerunku/głosu w celach informacyjno-marketingowych związanych z realizacją i przebiegiem Konferencji, w tym materiałach reklamowanych i promocyjnych dotyczących Konferencji, relacji fotograficznej i filmowej z Konferencji, rozpowszechnianych za pośrednictwem stron internetowych Organizatorów. Wyrażenie zgody udzielane jest na czas nieokreślony i obejmuje zezwolenie na korzystanie i rozpowszechnianie wizerunku Uczestnika, jego imienia i nazwiska na fotografiach, w filmach lub nagraniach wykonanych podczas zajęć i spotkań, umieszczanych na stronie internetowej Konferencji. Wyrażenie zgody odbywa się na zasadzie dobrowolności.
      %li
        Niezależnie od postanowienia ust. 3 powyżej, Organizator może rozpowszechniać wizerunek Uczestnika na zasadach określonych w ustawie z dnia 04.02.1994 r. o prawie autorskim i prawach pokrewnych, gdy Uczestnik zostanie sfilmowany lub sfotografowany jako szczegół całości.
  %h3.text-center
    § 4
  %p
    %ol
      %li
        Dodatkowe informacje i postanowienia znajdujące zastosowanie do Uczestników Konferencji:
        %ol{style: "list-style-type: upper-alpha;"}
          %li
            w wyniku dokonania rejestracji oraz potwierdzenia rejestracji przez Organizatora dochodzi do zawarcia umowy o udział w Konferencji, a postanowienia niniejszego Regulaminu stanowią integralną część takiej umowy;
          %li
            wszelkie zapytania dotyczące procesu rejestracji należy kierować drogą elektroniczną na adres: fundacja@mikstura.it;
          %li
            w sprawach nieuregulowanych w niniejszym Regulaminie mają zastosowanie przepisy prawa obowiązującego na terytorium Rzeczypospolitej Polskiej, a w szczególności Kodeksu cywilnego (ustawa z dn. 23 kwietnia 1964 r. Dz.U. Nr 16, poz. 93 z późniejszymi zmianami).


