
%address
  Akademia Techniczno - Humanistyczna‎
  %br
  Bielsko-Biała, Willowa 2 / L128

= link_to "http://bl.ocks.org/anonymous/raw/629f36de8053728c7d9e/", target: :new do
  = image_tag('venue/ath-map.png')
  = t('sections.venue.click_on_map')
