.span12
  .module-header.about-header
    %h4 About
  / end module-header
.span12.hero-unit.text-center
  %h1 Three Days of Inspiration!
  %h3
    %time{:datetime => "2014-09-23"} 23
    \-
    %time{:datetime => "2014-09-25"} 25
    September 2014, New York
  %h4
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus iaculis porta.
    %br/
    Vivamus mattis tempus aliquet.
    Donec non mauris a neque vulputate.
/ end hero-unit
.span12
  .divider-space
.span4.text-center
  .icon-wrap.large.color1
    %i.iconf-lightbulb
  %h3 The Vision
  %p Donec risus augue, ultricies quis ornare ac, malesuada non augue. Ut venenatis tempus semper. Curabitur rhoncus, nulla sed rhoncus sollicitudin, dolor quam vehicula odio.
.span4.text-center
  .icon-wrap.large.color2
    %i.iconf-world
  %h3 Meetings
  %p Donec risus augue, ultricies quis ornare ac, malesuada non augue. Ut venenatis tempus semper. Curabitur rhoncus, nulla sed rhoncus sollicitudin, dolor quam vehicula odio.
.span4.text-center
  .icon-wrap.large.color3
    %i.iconf-beaker
  %h3 Workshops
  %p Donec risus augue, ultricies quis ornare ac, malesuada non augue. Ut venenatis tempus semper. Curabitur rhoncus, nulla sed rhoncus sollicitudin, dolor quam vehicula odio.
