
.flexslider
  %ul.slides
    %li
      / slide 1
      .row.jumbotron
        .span12.text-center
          %h1 Discover New Ideas
          %h3
            Find The Best Solutions
            %br/
            From People Who Share Same Interests.
        / end span12
      / end row
    / endslide 1
    %li
      / slide 2
      .row.jumbotron
        .span12.text-center
          %h1 Eventify 2014
          %h3.info
            %span.days 23&ndash;25
            %span.month
              %b Sep
            %span.year 2013
            %span.location New York
          %a.btn.btn-large{"data-target" => "#modal-register", "data-toggle" => "modal", :href => ""} Get tickets
        / end span12
      / end row
    / end slide 2
    %li
      / slide 3
      .row.jumbotron
        .span12.text-center
          %h1 Eventify
          %h3 Responsive One-Page Event Template
          %a.btn.btn-large.btn-primary{:href => "#"} Buy Now
        / end span12
      / end row
    / end slide 3
/ end flexslider
/ end container
/ end intro section