.flexslider
  %ul.slides
    - %w(about_dwo became_speaker became_sponsor).each do |slide|
      %li
        .row.jumbotron
          .span12.text-center
            = render partial: "about/intro/#{slide}", locals: { i18n_scope: [:intro, slide]}
