#countdown
.span12.white.register-box.text-center
  %h2.register-title Tickets Available Today From $76
  %a#register-button.btn.btn-large.btn-primary{"data-target" => "#modal-register", "data-toggle" => "modal"} Register Now