-#- i18n_scope = [:about, :register, :modal]
-##modal-register.modal.hide.fade
-#  .modal-header
-#    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
-#    %h3= t(:title, scope: i18n_scope)
-#  .modal-body
-#    %iframe{src:"http://www.eventbrite.com",
-#    vspace:0, hspace:0, marginheight:5, marginwidth:5, allowtransparency: true, frameborder:0, height:214,
-#    scrolling: "auto", width: "100%"}
-#  .modal-footer
-#    %a.btn{data: {dismiss: "modal"}}
-#      = t(:close, scope: i18n_scope)
