article .photo-wrap > img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.text-middle {
    vertical-align: middle;
}

ul.people {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
}

.venue-header > h4 {
    color: #48A3A6;
}