// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  padding-top: 1em;
  padding-bottom: 2em;
}

h2 {
  padding: 0.5em;
}

.page_section {
  padding-top: 75px;
}

body {
  text-align: center;
}

img.sponsor_package_header {
  padding-top: 3em;
  padding-bottom: 3em;
}

table.agenda {
  tr.registration {
    background-color: #b1a40b;
  }
  tr.break, tr.breakfest, tr.lunch_break {
    background-color: #0099f7;
  }
}
