#intro {
	background:url(/assets/layout/backgrounds/intro_dark.jpg) center center no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: white;
	min-height: 300px;
	height: 660px;
	margin: 0 auto;
	padding: 0;
}

#register {
  background: /*#7bc1a1*/url(/assets/layout/backgrounds/intro_empty_hall_dark.jpg) center center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 60px 0;
}

#venue {
    background: url(/assets/layout/backgrounds/venue_ath.jpg) center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #4C5D67;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}