
%address
  Akademia Techniczno - Humanistyczna‎
  %br
  Bielsko-Biała, Willowa 2 / L128

%iframe.center-block{frameborder: 0, width: "60%", height: 400, src: 'http://bl.ocks.org/d/e05d27a67d027b8e8d94'}
