.span12.text-center
  %img{:alt => "DWO '14'", :src => "/assets/layout/dwo_logo_white.png"}/
  .copyright
    = t('footer.is_organised_by')
    %a{:href => "http://mikstura.it"}= t('footer.mikstura_it')
    %br
    2007-2014
