%ul#mainnav.nav
  %li
    %a{:href => "#about"} About
  %li
    %a{:href => "#speakers"} Speakers
  %li
    %a{:href => "#schedule"} Schedule
  %li
    %a{:href => "#workshops"} Workshops
  %li
    %a{:href => "#venue"} Venue
  %li
    %a{:href => "#sponsors"} Sponsors
  -#%li
  -#  %a{:href => "#news"} News
  %li
    %a{:href => "#contact"} Contact
  %li= i18n_switch
